{% extends 'admin/base.html' %}

{% block body %}

<style>
    table{
    display: flex;
    align-items: center;
    margin: 5rem auto;
    justify-content: center;
    border-collapse:collapse;
    width:40%;height:120px;
    font-size:60%;
    font-weight:bold;
}




table, th, td{
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    padding: 5px 70px;
}
tr:hover{
    cursor:pointer;
}
table tr:nth-child(odd){
    background-color:#eee;
    color:black;
}

table tr:nth-child(odd):hover{
    background:#52796f;
}
table tr:nth-child(even):hover{
    background:#386641;
    color:white;
}
table tr:nth-child(even){
    background:white;
    color:black;
}

table tr:nth-child(1):hover{
    background-color:lightgreen;
}
table tr:nth-child(1){
    background-color:skyblue;
    color:black;
}


.row-admin{
   display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    min-width: 100vh;
}
.left{
    min-width:50%;
}
.right{
    min-width:50%;
}



</style>


{% if current_user.is_authenticated %}
<h1> WELCOME {{ current_user.name }}</h1>

<div class="row-admin">
    <div class="left">
        <table>
            <tr>
                <th>Category ID</th>
                <th>Category Name</th>
                <th>Quantity Product</th>
            </tr>
            {% for s in statistic_cate_render_web %}
            <tr>
                <td>{{ s[0] }}</td>
                <td>{{ s[1] }}</td>
                <td>{{ s[2] }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="right">
            <canvas style="width:100%;" id="myCategoryChart"></canvas>
    </div>
</div>

{% else %}
<h1 style="text-align:center;"> Login Administration</h1>
<form class="form-sign-up" method="post" action="{{ url_for('login_admin') }}">

    <div class="form-group" style="width:30rem; display:flex;justify-content:center;align-items:center;margin:auto;">
        <label for="username" style="width:10rem;margin-top:20px;">Username :</label>
        <input type="text" id="username" class="input-name form-control" name="username">
    </div>
    <div class="form-group" style="width:30rem; display:flex;justify-content:center;align-items:center;margin:auto;">
        <label for="password" style="width:10rem;margin-top:20px;">Password :</label>
        <input type="password" id="password" class="input-name form-control" name="password">
    </div>

    <input type="submit" value="Login" class="submit-create" style="width:10rem;display:flex;justify-content:center;
            align-items:center;margin:auto;display:flex;justify-content:center;align-items:center;margin:20px auto;">

</form>
{% endif %}



<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

let labels = [], info = []
let colors = []
let borderColors = []
let r,g,b;
{% for s in statistic_cate_render_web %}
    labels.push('{{ s[1] }}')
    info.push('{{ s[2] }}')

    r = Math.random()*255
    g = Math.random()*255
    b = Math.random()*255

    colors.push(`rgba(${r},${g},${b},0.2)`)
    borderColors.push(`rgba(${r},${g},${b},1)`)
{% endfor %}

window.onload = function(){
     const ctx = document.getElementById('myCategoryChart').getContext('2d');
  new Chart(ctx, {
    type: 'doughnut',
    data: {
      labels: labels,
      datasets: [{
        label: 'Statistics of products by category',
        data: info,
        backgroundColor:colors,
        borderColor:borderColors,
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });

}

</script>


{% endblock %}

{% block js %}

{% endblock %}